body {
	font-family: Arial, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.topnav {
	position: fixed;
	top: 10px;
	width: 98%;
}

.topnav a {
	display: block;
	float: right;
	padding: 10px;
	color: #000;
	font-size: 13px;
}

#sign-in {
	background-color: #4285f4;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


img {
	position: absolute;
	top: 150px;
	left: 500px;
}

input[type=text] {
	display: block;
	position: absolute;
	top: 250px;
	left: 400px;
	padding: 10px;
	width: 500px;
	border: 1px solid #ddd;
}

input[type=button] {
	display: inline-block;
	position: relative;
	top: 300px;
	left: 485px;
	margin: 10px 5px 0 5px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	font-weight: bold;
	font-family: arial, sans-serif;
	font-size: 13px;
	padding: 0 15px;
	line-height: 36px;
}

.bottomnav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f2f2f2;
	border: 1px solid #e4e4e4;
}

.bottomnav a {
	display: block;
	float: left;
	padding: 10px;
	color: #666;
	font-size: 13px;
}

.bottomright a {
	float: right;
}